replicaCount: 2

image:
  repository: ghcr.io/kulkarni-abhi/bugtracker-bug-service
  tag: "CHANGE_ME"
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80

containerPort: 8080

resources:
  requests:
    cpu: 250m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi
