replicaCount: 2

image:
  repository: ghcr.io/kulkarni-abhi/bugtracker-api-gateway
  tag: "dev-68763bdc7eefecd352716df9aab5868634d335cc"
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80

containerPort: 8080

resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 200m
    memory: 512Mi
