replicaCount: 1

image:
  repository: ghcr.io/kulkarni-abhi/bugtracker-bug-service
  tag: "dev-47624dbd749a0df2198cae5f82537a2368d37537"
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80

containerPort: 8080

resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 200m
    memory: 512Mi
