replicaCount: 1

image:
  repository: ghcr.io/kulkarni-abhi/bugtracker-project-service
  tag: "dev-a22491b253be321fdfad3e17e128b27270ccc6cd"
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80

containerPort: 8080

resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 200m
    memory: 512Mi
