replicaCount: 3

image:
  repository: ghcr.io/kulkarni-abhi/bugtracker-comment-service
  tag: "release-a5f6a8af8f560510a5b36b27a88628ecee4af196"
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80

containerPort: 8080

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi
