replicaCount: 3

image:
  repository: ghcr.io/kulkarni-abhi/bugtracker-project-service
  tag: "CHANGE_ME"
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80

containerPort: 8080

resources:
  requests:
    cpu: 500m
    memory: 512Mi
  limits:
    cpu: 1
    memory: 1Gi
