replicaCount: 3

image:
  repository: ghcr.io/kulkarni-abhi/bugtracker-user-service
  tag: "main-19f07bd76bab1b4e9855c625e276ce25a94473f7"
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80

containerPort: 8080

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi
