replicaCount: 3

image:
  repository: ghcr.io/kulkarni-abhi/bugtracker-user-service
  tag: "release-5e43a129d64b534f963e5f0e3a57c505b06e689e"
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80

containerPort: 8080

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi
