replicaCount: 2

image:
  repository: ghcr.io/kulkarni-abhi/bugtracker-api-gateway
  tag: "dev-49964d333bd52e8db817290b05e1963fb0ed58dc"
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80

containerPort: 8080

resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 200m
    memory: 512Mi
