replicaCount: 1

image:
  repository: ghcr.io/kulkarni-abhi/bugtracker-bug-service
  tag: "dev-0aa6953584c4c629155f7df636096aa78bcdae5c"
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80

containerPort: 8080

resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 200m
    memory: 512Mi
