replicaCount: 1

image:
  repository: ghcr.io/kulkarni-abhi/bugtracker-comment-service
  tag: "dev-362b90b99a7a3280988434eb0bb511a898f6584d"
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80

containerPort: 8080

resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 200m
    memory: 512Mi
